<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <nav class="bg-gray-800">
        <div class="max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <span class="flex flex-shrink-0 w-auto text-white items-center">Todo List</span>
                <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    <a href="{% url 'base:home' %}" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Home</a>
                    <a href="{% url 'base:create' %}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Create</a>
                </div>
                </div>
            </div>
            </div>
        </div>
        
        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="sm:hidden" id="mobile-menu">
            <div class="space-y-1 px-2 pb-3 pt-2">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="{% url 'base:home' %}" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white" aria-current="page">Home</a>
            <a href="{% url 'base:create' %}" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Create</a>
            </div>
        </div>
        </nav>
      
    <h1 class="text-5xl border-b border-gray-900/10 pb-4 pl-8 mt-8">Home</h1>

    <table class="table-auto w-full m-4 text-center border-b border-black">
        <thead class="text-white bg-gray-700">
            <tr>
                <th scope="col" class="px-6 py-3">S.N.</th>
                <th scope="col" class="px-6 py-3">Description</th>
                <th scope="col" class="px-6 py-3">Name</th>
                <th scope="col" class="px-6 py-3">Status</th>
                <th scope="col" class="px-6 py-3">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
            <tr class="even:bg-cyan-100">
                <th scope="row" class="px-6 py-3">{{ forloop.counter }} </th>
                <td class="px-6 py-4">{{ todo.name }} </td>
                <td class="px-6 py-4">{{ todo.description }}</td>
                <td class="px-6 py-4">{{ todo.status }}</td>
                <td class="px-6 py-4">
                    <a href=" {% url 'base:edit' todo_id=todo.id %} ">
                        <button
                            class="px-4 py-1 text-sm text-white font-semibold rounded-xl border bg-slate-700 hover:text-white hover:bg-blue-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-gray-600 focus:ring-offset-2">
                            Edit
                        </button>
                    </a>

                    <a href=" {% url 'base:delete' todo_id=todo.id %}">
                        <button
                            class="px-4 py-1 text-sm text-gray-300 font-semibold rounded-xl border bg-red-500 hover:bg-red-700 hover:text-white hover:border-transparent focus:outline-none focus:ring-2 focus:ring-gray-600 focus:ring-offset-2">
                            Delete
                        </button>
                    </a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'base:create' %}"
        class="ml-4 px-3 py-2 text-sm text-white font-semibold rounded-md border bg-emerald-500 hover:text-white hover:bg-green-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-gray-600 focus:ring-offset-2">
        Create New
    </a>

</body>

</html>